.screen {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
   }
   .screen .div {
    background-color: #000000;
    width: 1440px;
    height: 1024px;
    position: relative;
   }
   .screen .image {
    width: 451px;
    height: 300px;
    top: 375px;
    left: 47px;
    position: absolute;
    object-fit: cover;
   }
   .screen .img {
    width: 360px;
    height: 300px;
    top: 375px;
    left: 585px;
    position: absolute;
    object-fit: cover;
   }
   .screen .image-2 {
    width: 360px;
    height: 300px;
    top: 375px;
    left: 1033px;
    position: absolute;
    object-fit: cover;
   }
   .screen .frame {
    position: absolute;
    width: 360px;
    height: 60px;
    top: 764px;
    left: 83px;
    background-color: #0859d2;
    border: 1px solid;
    border-color: #353535;
   }
   .screen .text-wrapper {
    width: 287px;
    height: 60px;
    top: -1px;
    left: 37px;
    font-family: "Open Sans-Regular", Helvetica;
    color: #000000;
    font-size: 25px;
    position: absolute;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
   }
   .screen .div-wrapper {
    position: absolute;
    width: 360px;
    height: 60px;
    top: 764px;
    left: 573px;
    background-color: #0859d2;
    border: 1px solid;
    border-color: #353535;
   }
   .screen .text-wrapper-2 {
    position: absolute;
    width: 287px;
    height: 60px;
    top: -1px;
    left: 36px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
   }
   .screen .frame-2 {
    position: absolute;
    width: 360px;
    height: 60px;
    top: 764px;
    left: 1033px;
    background-color: #0859d2;
    border: 1px solid;
    border-color: #353535;
   }
   .screen .frame-3 {
    position: absolute;
    width: 1440px;
    height: 200px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #6c6c6c;
    box-shadow: 0px 4px 4px #00000040;
   }
   .screen .SCP-LAB-secure {
    position: absolute;
    width: 213px;
    height: 94px;
    top: 53px;
    left: 366px;
   }
   .screen .image-wrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 128px;
    background-color: #514a4a;
    border: 1px solid;
    border-color: #ffffff;
   }
   .screen .image-3 {
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
   }
   .screen .text-wrapper-3 {
    width: 180px;
    height: 40px;
    top: 18px;
    left: 622px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Inter-Regular", Helvetica;
    color: #0e0e0e;
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
   }
   .screen .group {
    position: absolute;
    width: 236px;
    height: 80px;
    top: 0;
    left: 1163px;
   }
   .screen .text-wrapper-4 {
    width: 195px;
    height: 80px;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
   }
   .screen .fluent-person {
    position: absolute;
    width: 39px;
    height: 40px;
    top: 20px;
    left: 195px;
   }
   .screen .text-wrapper-5 {
    width: 180px;
    height: 40px;
    top: 18px;
    left: 802px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Inter-Regular", Helvetica;
    color: #0e0e0e;
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
   }
   .screen .overlap-group-wrapper {
    position: absolute;
    width: 180px;
    height: 40px;
    top: 20px;
    left: 983px;
    background-color: #979292;
    overflow: hidden;
   }
   .screen .overlap-group {
    position: relative;
    width: 181px;
    height: 40px;
    left: -8px;
   }
   .screen .text-wrapper-6 {
    width: 151px;
    height: 24px;
    top: 7px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    color: #030202;
    font-size: 20px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
   }
   .screen .group-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 141px;
   }
   .screen .frame-wrapper {
    position: absolute;
    width: 1440px;
    height: 60px;
    top: 964px;
    left: 0;
   }
   .screen .frame-4 {
    position: relative;
    height: 60px;
    background-color: #030000;
    overflow: hidden;
    border: 1px solid;
    border-color: #6c6c6c;
    box-shadow: 0px 4px 4px #00000040;
   }
   .screen .vector {
    position: absolute;
    width: 40px;
    height: 39px;
    top: 14px;
    left: 99px;
   }
   .screen .p {
    position: absolute;
    width: 300px;
    height: 29px;
    top: 18px;
    left: 223px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #c20d0d;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
   }
   .screen .text-wrapper-7 {
    position: absolute;
    width: 550px;
    height: 71px;
    top: -7px;
    left: 902px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ff0000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
   }
   .screen .vector-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 17px;
    left: 45px;
   }
   .screen .vector-3 {
    position: absolute;
    width: 40px;
    height: 30px;
    top: 18px;
    left: 161px;
   }